USE [carrito_compras]
GO
/****** Object:  StoredProcedure [dbo].[insertUser]    Script Date: 3/5/2025 19:47:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[insertUser]
@DNI bigint,
@nombres text,
@apellido text,
@email text,
@username text, 
@password text,
@fecha_nacimiento datetime,
@genero text

as
begin
	begin try
		insert into users (DNI, nombres, apellido, email, username, password, fecha_nacimiento, genero)
		values (@DNI, @nombres, @apellido, @email, @username, @password, @fecha_nacimiento, @genero)
		print 'Usuario creado satisfactoriamente'
	end try

	begin catch
		print 'Error al agregar usuario'
		print ERROR_MESSAGE();
	end catch

end
